
@charset "utf-8";

.background {
  background-image: url('/public/background.jpg');
  background-size: cover;
  color: white;
}


.theme_box {padding:30px 0;border-bottom:1px dashed #c1beb3;margin-top:60px}
.theme_box:last-child {padding:30px 0 0 0;border-bottom:none;}
.theme_box .theme_pic{float:left;  width:25%; height:auto;overflow:hidden;}
.theme_box .theme_div span{display:inline-block; font-size:14px; color:#a4a4a4;}
.theme_box .theme_div .level{margin:0 5px; text-align:right;}
.theme_box .theme_div .level em {display:block; font-style:normal; margin-top:3px; font-size:11px;}
.theme_box .theme_div .level>.level_img img{display:inline-block; padding:0 1px;}
.theme_box .theme_div .btn_reserve{position:absolute; top:10px; right:0;}
.theme_box .theme_Title>.theme_div{position:absolute; top:0px; right:0;}
.theme_box .time_Area{position:relative;float:left; margin-left:40px; width:70%; z-index:11;}
.theme_box .time_Area .h3_theme{font-size:36px; color:#000; font-family: 'Nanum Square'; font-style: bold; font-weight: 700;line-height:1.6; }
.theme_box .tag_tt {font-size:20px;font-family: 'Nanum Square'; font-style: normal;  font-weight: 400;margin:5px 0 10px;color:#555;}
.theme_box .tag_txt {font-size:15px;font-family: 'Nanum Square'; font-style: normal;  font-weight: 400;margin:5px 0 20px;color:#555;}
.theme_box {position:relative;}
.theme_box .reserve_Time:after{content:""; display:block; clear:both;}
.theme_box .reserve_Time>li{float:left; margin:0 10px 20px 0; width:125px; height:113px;}
.theme_box .reserve_Time>li:nth-child(6n){margin:0 0 20px 0; }
.theme_box .reserve_Time>li>a{display:block; padding:35px 0 0 0; width:115px; height:78px; text-align:center; background-color:#5490ff; border-radius: 2em;}
.theme_box .reserve_Time>li>a:hover{ background-color:#02057e;}
.theme_box .reserve_Time>li span{display:block; color:#fff; }
.theme_box .reserve_Time>li span.time{font-size:20px; font-family:"NBGothicB"; }
.theme_box .reserve_Time>li>a.end{width:111px; height:76px; background-color:#02057e; border:1px solid #444;cursor:default;}
.theme_box .reserve_Time>li>a.end span{color:#72916f;}