
body {margin: 0; padding: 0; font-size: 13px; line-height:20px; font-family:'NBGothic','나눔바른고딕',Open Sans, sans-serif;}
body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td {margin:0;padding:0}
hr {display: none;}
dd, li{list-style:none;}
ul:after, dl:after, ol:after{clear:both; display:block;}
p, div, th, td, select, input {color: #999;}
select, input {color: #666;}
a:link, a:visited {text-decoration: none;}
a:active, a:hover{text-decoration: none;}
a img, input.type-image {border: 0 none;}
input.type-text, textarea {border: 1px solid #ddd; background: #666;}

input.type-text:hover, 
input.type-text:focus, 
textarea:hover, 
textarea:focus 
{background-color: #fff;}
img{vertical-align: top;}
input, select, textarea, label, select { padding:0 0;}
input{padding:0 10px;}
span.button, 
img.button, 
a.button {cursor: pointer; vertical-align: middle;}
table{border-collapse: collapse; border-spacing: 0;}
span { color: inherit; font-family: inherit; font-size: inherit;  line-height: inherit;}


*, ::after, ::before {
  box-sizing: revert;
}