
.date-picker {height:115px; border-top:1px dashed #c1beb3; border-bottom:1px dashed #c1beb3; margin-top:40px; text-align:center; padding-top:30px; margin-bottom:50px;position:relative;z-index:12;}
.date-picker:after {content:''; display:block; clear:both; height:0; visibility:hidden;}
.date-picker .day {width:367px; height:48px; margin:0 0 0 0;line-height:130%; border-radius: 10px; border: 1px solid;}
.date-picker .day .react-datepicker-wrapper .react-datepicker__input-container:after {content:''; clear:both; height:47px; width: 48px; background:url('/public/date_icon.png') no-repeat 0 0; position: absolute; position: absolute;right: 1px; border-radius: 10px;}
.date-picker .day .react-datepicker-wrapper:before{content:''; display:block; clear:both; height:46px;float: left;border-left: 1px solid;position: absolute;}

    
.date-picker div.check {position:absolute;top:35px;right:0}
.date-picker a {display:inline-block; width:170px; }
.date-picker a.red_btn { height:45px; font-size:16px; line-height:45px;color:#fff;  background:#5490ff; font-family: 'Nanum Square'; font-style: bold; font-weight: 700;border-radius:40px;}
.date-picker a.red_btn:hover{color:#fff; background:#02057e;}
.date-picker div.caption {color:#000; font-size:15px; background:#ffff00; margin:46px 0; padding:3px 0;}


.date-picker .day span {font-size:16px; color:#333; line-height:44px; padding:0 0; position:relative; box-sizing: border-box;}
.date-picker .day>div {float: right; width: 240px;}
.date-picker .day input.date {width:165px; height:29px; border:none; margin:0; padding:0; background:none; position:relative;font-size:16px}
.date-picker .day img.ui-datepicker-trigger {cursor:pointer;position:absolute;top:30px;left:355px}
.date-picker .day .ui-datepicker-trigger {cursor:pointer;position:absolute;top:30px;left:355px;width:48px;height:48px;}
.date-picker a.calendar {float:left;}
.date-picker p.clear {padding:15px 20px 0 0;font-size:14px;float:left}


.reactCalendarUi {width:220px; background-color:transparent; border:none; height:46px; font-size:18px; font-family: 'Roboto', sans-serif; cursor:pointer; }

